<h1>Logins</h1>

<%= form_for(@user, url: logins_path) do |f| %>
<div class="field">                                                                                                                                         
  <%= f.label :email %>                                                                                                                                     
  <%= f.text_field :email %>                                                                                                                                
</div>                                                                                                                                                      
<div class="field">
  <%= f.label :label %>
  <%= f.text_field :password %>
</div>
<%= f.submit %>
<% end %>




