<div align="right">
  <%= link_to "ログアウト", login_path(0), method: :delete %>
</div>

<h3>
  <%= flash[:notice] %>
</h3>

<div class="container">
  <h1>Listing events</h1>
  どれに参加する？
</div>


<% @events.each do |event| %>
<div id="three-column" class="container">
  <div class="box1">
    <div class="box-style box-style01">
      <div class="content">
        <div class="image">
          <%= image_tag("img01.jpg") %>
        </div>
        <h2><%= event.title %></h2>
        <p><%= event.detail %></p>
        <%= button_to 'Learn More', event, method: :get %>
      </div>
    </div>
  </div>
</div>
<% end %>


<br />
<h1>
  <div align="center">
    <%= link_to '新しいイベントを作る', new_event_path %>
  </div>
  <h1>

    <BR>
    <BR>
