<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @event.title %>
  </h1>
</p>
<hr>
<p>
  <strong>Place:</strong>
  <%= @event.place  %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>
<hr>

<p>
  <strong>Detail:</strong>
  <%= @event.detail %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Fixed number:</strong>
  <%= @event.fixed_number %>
</p>

<p>
  <%= link_to "このイベントに参加する", new_event_join_path(@event) %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
