<p id="notice"><%= notice %></p>

<table>
  <tr>
    <p>
      <h1>
        <%= @event.title %>
      </h1>
    </p>
    <hr>

    <div id="page">
      <p>
        <strong>Place:</strong>
        <%= @event.place  %>
      </p>

      <p>
        <strong>Url:</strong>
        <%= @event.url %>
      </p>
      <hr>

      <p>
        <strong>Detail:</strong>
        <%= @event.detail %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @event.date %>
      </p>

      <p>
        <strong>Fixed number:</strong>
        <%= @event.fixed_number %>
      </p>
  </tr>
  <tr>
    <%= render 'joiner' %>
  </tr>
</table>
</div>

<BR><BR>

<h2>
  <%= link_to "このイベントに参加する", new_event_join_path(@event), event_id: @event['id'] %>
</h2>

<h3>
  <%= link_to 'イベントリストに戻る', events_path %>
</h3>


