<!DOCTYPE html>
<html>
<head>
  <title>TBNZ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:login] %>
<% user = User.find(session[:login]) %>
こんにちは<%= user.name %>さん。
<% end %>
<%= yield %>

</body>
</html>
